body {
  background-color: #e2e2e2
}

#header {
  text-align: center;
  font-size: 42px;
  font-family: 'Titillium Web', sans-serif;
}

#footer {
  text-align: center;
}
h3 {
  font-size: 24px;
  font-family: sans-serif;
}
.main {
  background-color: orange;
}
