ul {
  padding-left: 255px;
  padding-bottom: 25px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
#albumTitle {
  font-family: 'Titillium Web', sans-serif;
}
li {
  font-style: italic;
}

a:hover {
  background-color: green;
  text-decoration: underline;
}
td {
  text-align: center;
  font-style: italic;

}
tbody tr:nth-child(even) {
  background-color: #898989;
}
tbody tr:nth-child(odd) {
  background-color: #e9a2fe;
}
