body {
  background-color: #e2e2e2
}

#header {
  text-align: center;
  font-size: 42px;
  font-family: 'Titillium Web', sans-serif;
}

#footer {
  text-align: center;
}
#mainmenu {
    width: 200px;
    padding: 20px;
    word-wrap: break-word;
}
#beverages {
  width: 200px;
  padding: 10px;
}
h3 {
  font-size: 24px;
  font-family: sans-serif;
}
.main {
  background-color: orange;
}
a:visited {
  color: red;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
