ul {
  padding-left: 255px;
  padding-bottom: 25px;
}
a:link {
  text-decoration: none;
  font-weight: bold;
}
.bgimg {
  background-image: url("http://i.imgur.com/UO0bAt6.jpg");
  height: 316px;
  width: 316px;
}
#albumTitle {
  font-family: 'Titillium Web', sans-serif;
}
li {
  font-style: italic;
}
