ul {
  padding-left: 255px;
  padding-bottom: 25px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.bgimg {
  background-image: url("http://i.imgur.com/UO0bAt6.jpg");
  height: 316px;
  width: 316px;
}
#albumTitle {
  font-family: 'Titillium Web', sans-serif;
}
li {
  font-style: italic;
}

a:hover {
  background-color: green;
  text-decoration: underline;
}
td {
  text-align: center;
  font-style: italic;
  background-color: #e9a2fe
}
